<template>
  <v-container py-0>
    <v-layout py-3>
        <v-flex xs2>
          <h2>Genries</h2>
          <ul class="cards-genres">
            <li
              v-for="(genre, i) in $store.state.genre"
              :key="i"
              class="card-genre"
              :class="{'selected': selGenreCard(i)}"
              @click="clickGenre(genre, i)">
                {{genre.name}}
            </li>
          </ul>
        </v-flex>

        <v-flex xs10>
          <h2>Movies: {{this.$store.state.selGenreName}}</h2>
          <ul class="cards-movie">
            <li
              v-for="(movie, i) in $store.state.movies"
              :key="i"
              class="card-movie"
              @click="openPopupMovie(movie, i)">
                <div class="inner-card">
                  <h3>{{movie.title}}</h3>
                  <div class="description">
                    <p> Description:</p>
                    <p>{{movie.overview}}</p>
                  </div>
                  <div class="bottom">
                    <p>Release date: <strong>{{movie.release_date}}</strong></p>
                  </div>
                </div>
            </li>
          </ul>
        </v-flex>
    </v-layout>
    <popup-movie v-if="$store.state.moviePopup"></popup-movie>
  </v-container>
</template>

<script>
import PopupMovie from '../components/PopupMovie'

export default {
  data () {
    return {
      selGenre_listId: 0
    }
  },
  components: {
    PopupMovie
  },
  methods: {
    clickGenre (genre, i) {
      this.selGenre_listId = i
      this.$store.state.selGenreId = genre.id
      this.$store.state.selGenreName = genre.name

      this.$store.dispatch('getDataMovies')
    },
    selGenreCard (i) {
      return this.selGenre_listId === i
    },
    openPopupMovie (movie, i) {
      this.$store.state.selMovieId = movie.id
      this.$store.dispatch('getDataMovie')
      this.$store.state.moviePopup = true
      if (this.$store.state.movie.video) {
        this.$store.dispatch('getDataMovieVideo')
      }
    }
  },
  mounted () {
    this.$store.dispatch('getDataGenre')
  }
}
</script>

<style lang="scss" scoped>
.cards-genres, .cards-movie{
  padding: 0;
  margin-top: 20px;
  margin-left: -5px;
  margin-right: -5px;
}
.card-genre, .card-movie{
  list-style-type: none;
  padding: 0 5px;
  .inner-card{
    border: 1px solid rgb(216, 216, 216);
    padding: 10px;
    height: 100%;
    position: relative;
  }
  .description{
    margin-top: 20px;
    margin-bottom: 40px;
    font-size: 14px;
  }
  .bottom{
    position: absolute;
    bottom: 10px;
    p{
      margin-bottom: 0;
    }
  }
}

.card-genre{
  padding: 10px 5px;
  margin-right: 20px;
  cursor: pointer;
  &:hover{
    background-color: #34acfa;
    color: #fff;
  }
  &.selected{
    background-color: #18a2ff;
    color: #fff;
  }
}

.cards-movie{
  display: flex;
  flex-wrap: wrap;
}
.card-movie{
  flex: 0 0 33.3%;
  margin-bottom: 10px;
  cursor: pointer;
  .inner-card{
    &:hover{
      background-color: #34acfa;
      color: #fff;
    }
  }
}
</style>
