<template>
  <div class="popup-movie">
    <div class="back-image" :style="{backgroundImage: urlBackImage()}"></div>
    <v-container class="popup-content">
      <v-layout pt-3 pb-5>
          <v-flex sm3>
              <div class="back-to-list" @click="closePopup()">
                  <i class="material-icons">
                      keyboard_arrow_left
                  </i>
                  <span>Back to list</span>
              </div>
          </v-flex>
      </v-layout>
      <v-layout wrap>
          <v-flex xl3 lg4 sm6 xs12 offset-xl1 class="mobile-top">
              <div class="image-movie">
                  <img :src="imageExist()" alt="">
              </div>
          </v-flex>
          <v-flex xl7 lg8 sm6 xs12>
            <div class="info-movie">
              <h2 class="title-movie">{{this.$store.state.movie.original_title}}</h2>
              <div class="film-genres">
                <span class="film-genres__title">Film genres: </span>
                <ul class="film-genres__list">
                  <li
                    v-for="(genre, i) in $store.state.movie.genres"
                  :key="i">
                    {{genre.name}}
                  </li>
                </ul>
              </div>

              <div class="description-movie">
                  {{ this.$store.state.movie.overview}}
              </div>

              <a :href="$store.state.movie.homepage" target="_blank" class="movie-link">Link to the original site</a>
              <div class="movie-video">
                  <iframe v-show="video" width="560" height="315" :src="urlVideo()" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                  <p v-show="!video">No video</p>
              </div>
            </div>
          </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>

<script>
export default {
  data () {
    return {
      video: false
    }
  },
  methods: {
    closePopup () {
      this.$store.state.moviePopup = false
    },
    urlBackImage () {
      return (this.$store.state.movie.backdrop_path) ? 'url(http://image.tmdb.org/t/p/w342' + this.$store.state.movie.backdrop_path + ')' : ''
    },
    imageExist () {
      return (this.$store.state.movie.poster_path) ? 'http://image.tmdb.org/t/p/w342' + this.$store.state.movie.poster_path : 'https://www.freeiconspng.com/uploads/no-image-icon-6.png'
    },
    urlVideo () {
      if (this.$store.state.movieVideo != null) {
        if (this.$store.state.movieVideo.site === 'YouTube') {
          this.video = true
          return 'https://www.youtube.com/embed/' + this.$store.state.movieVideo.key
        } else if (this.$store.state.movieVideo.site === 'Vimeo') {
          this.video = true
          return 'https://player.vimeo.com/video/' + this.$store.state.movieVideo.key
        } else {
          this.video = false
          return '#'
        }
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.popup-movie{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #eaeaea;
    min-height: 100vh;
    z-index: 10;
}
.back-image{
    position: absolute;
    top: -2%;
    left: -2%;
    width: 104%;
    height: 104vh;
    background-size: cover;
    background-position: 50% 0%;
    background-color: #34acfa;
    filter: blur(10px);
    z-index: 1;
    &:before{
        content: '';
        position: absolute;
        top:0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, .5);

    }
}
.popup-content{
  position: relative;
  z-index: 2;
}
.back-to-list{
  display: flex;
  align-items: center;
  color: #fff;
  cursor: pointer;
  i{
      border-radius: 50%;
      border: 1px solid #fff;
  }
  span{
      padding: 0 20px;
  }
}

.image-movie{
  color: #fff;
  img{
      box-shadow: 0 0 12px 0 #000;
  }
}
.info-movie{
    color: #fff;
}
.title-movie{
    font-size: 36px;
    margin-bottom: 20px;
}
.description-movie{
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    p{
        margin: 0;
        &:nth-child(n + 2){
            margin-top: 15px;
        }
    }
}
.film-genres__list{
  display: inline-flex;
  padding: 0;
  list-style-type: none;
  li{
    padding: 0 10px;
  }
}
.movie-link{
  color: #fff;
  margin-top: 20px;
  display: block;
}
.movie-video{
  margin-top: 20px;
}
@media(max-width:900px){
.image-movie{
    img{
        width: 85%;
    }
}
}
@media(max-width:600px){
    .mobile-top{
        display: flex;
        justify-content: space-between;
    }
    .popup-content{
        overflow: auto;
        height: 100vh;
    }
    .image-movie{
        width: 48%;
        img{
            width: 100%;
            height: 100%;
            border-radius: 10px;
        }
    }
    .assessment--mobile{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border: none;
        color: #fff;
        width: 48%;
        span{
            font-size: 18px;
        }
    }
    .info-movie{
        margin-top: 40px;
        .title-movie{
            font-size: 30px;
            padding-bottom: 10px;
            margin-bottom: 0;
            border-bottom: 1px solid rgba(255, 255, 255, 0.3);
        }
        .assessment{
            display: none;
        }
    }
}
</style>
