<template>
  <v-app>
    <v-content>
      <app-home></app-home>
    </v-content>
  </v-app>
</template>

<script>
import appHome from './views/Home.vue'
export default {
  name: 'App',
  components: {
    appHome
  }
}
</script>

<style lang="scss">
*{
  outline: none;
}
</style>
